name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Dar permisos a Gradle Wrapper
        run: chmod +x gradlew

      - name: Ejecutar pruebas
        run: ./gradlew test

      - name: Construir proyecto (Build)
        run: ./gradlew build

      - name: Publicar Artefacto
        uses: actions/upload-artifact@v4
        with:
          name: app-ejecutable
          path: build/libs/*.jar
          retention-days: 5